.text {
    font-size: 1em;
    color: #000;
    font-weight: 400;
}
.subtext {
    font-size: .9em;
    color: #8D8F99;
}
.heading {
    font-size: 1.5em;
    color: #000;
    font-weight: 600;
}
.subheading {
    font-size: 1.2em;
    color: #000;
    font-weight: 500;
}