<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>Layout</title>
  </head>
  <body>
    <div class="viewport">
      <header>This is the header inside the viewport</header>
    </div>
    <main>
      <section>
        <p>This is a section</p>
        <a href="https://andreszapataq.github.io/dashboard/"
          >https://andreszapataq.github.io/dashboard/</a
        >
      </section>
    </main>
    <footer>
      <p>This is the footer</p>
    </footer>
  </body>
</html>
