.Input input {
    border: 1.5px solid #ACAFBE;
    border-radius: 5px;
    font-size: 1.1em;
    padding: 7px 8px;
}
.Input input::placeholder {
    color: #BFBFBF;
}
.Input input:disabled {
    background: #EDEDEE;
    border-color: #DBDEE8;
}
.Input input:disabled::placeholder {
    color: #C6CBD1
}
.Input .error {
    border-color: #E16170
}