/*
## Styling

### Potential order of styling

- Positioning: relative, absolute, top, left, flex
- Spacing: margin, padding
- Typography: font size, weight, family
- Colors: background, text
- Background: color, image
- Border: width, style, color, radius
- Effects: transition, animation
*/

.Button {
  --primary-color: #1155cb;
  --secondary-color: #fff;

  --hover-color: #2768d9;
  --press-color: #1449a4;
  --focus-color: #9db5ff;
  --disable-bg-color: #173878;
  --disable-text-color: #929eb5;

  --secondary-border-color: #d8dae5;
  --secondary-text-color: #696f8c;
  --secondary-hover-color: #f7f7f7;
  --secondary-press-color: #ecedf2;
}

.Button .button,
.Button .custom-button {
  display: flex;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.Button .button:hover {
  background-color: var(--hover-color);
}
.Button .button:active {
  background-color: var(--press-color);
}
.Button .button:focus {
  outline-color: var(--focus-color);
}
.Button .button:disabled {
  background-color: var(--disable-bg-color);
  color: var(--disable-text-color);
  cursor: not-allowed;
}
.Button .secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  border: 1px solid var(--secondary-border-color);
}
.Button .secondary:hover {
  background-color: var(--secondary-hover-color);
}
.Button .secondary:active {
  background-color: var(--secondary-press-color);
}
.custom-button {
  width: fit-content;
  justify-content: space-between;
}
.custom-button-label {
  margin-left: 5px;
}
