.Icon {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  --tertiary: #696f8c;
}
.Icon svg {
  width: 20px;
  height: 20px;
}

.svg-icon {
  /* width: 15px;
  height: 12px; */
  /* height: 100%; */
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  /* fill: #4691f6;
  fill: var(--secondary-text-color); */
}
.svg-icon circle {
  /* stroke: #4691f6;
  stroke-width: 1; */
}
